@model AppUserRegisterDto
@{
	ViewData["Title"] = "Kayıt Ol";
}


<!DOCTYPE html>
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->


<div class="d-flex justify-content-center">
<div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"></div>
<form method="post" style="width:30%;">
	<!-- Name input -->
	<div class="form-outline mb-4">
		<input class="form-control" type="text" asp-for="Name" placeholder="Adınız" required="">
	</div>

	<!-- Surname input -->
	<div class="form-outline mb-4">
		<input class="form-control" type="text" asp-for="Surname" placeholder="Soyadınız" required="">
	</div>
	
	<!-- Username input -->
	<div class="form-outline mb-4">
		<input class="form-control" type="text" asp-for="Username" placeholder="Kullanıcı Adınız" required="">
	</div>
	
	<!-- Email input -->
	<div class="form-outline mb-4">
		<input class="form-control" type="text" asp-for="Email" placeholder="Mail Adresiniz" required="">
	</div>

	<!-- Password input -->
	<div class="form-outline mb-4">
		<input class="form-control" type="password" asp-for="Password" placeholder="Şifreniz" required="">
	</div>
	
	<!-- ConfirmPassword input -->
	<div class="form-outline mb-4">
		<input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="Şifre Tekrarı" required="">
	</div>





	<!-- 2 column grid layout for inline styling -->
	<div class="row mb-4">
		<div class="col d-flex justify-content-center">
			<!-- Checkbox -->
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
				<label class="form-check-label" for="form2Example31"> Şartlar Koşulları kabul ediyorum. </label>
			</div>
		</div>


	</div>

	<!-- Submit button -->
	<button type="submit" class="btn btn-primary btn-block mb-4">Kayıt Ol</button>

	<!-- Register buttons -->
	<div class="text-center">
		<p>or sign up with:</p>
		<button type="button" class="btn btn-link btn-floating mx-1">
			<i class="fab fa-facebook-f"></i>
		</button>

		<button type="button" class="btn btn-link btn-floating mx-1">
			<i class="fab fa-google"></i>
		</button>

		<button type="button" class="btn btn-link btn-floating mx-1">
			<i class="fab fa-twitter"></i>
		</button>

		<button type="button" class="btn btn-link btn-floating mx-1">
			<i class="fab fa-github"></i>
		</button>
	</div>
</form>



</div>
	

